/********************************
    Nombre : Konekt Shortcuts
    Autor : Ben yair
*********************************/
/*Mi paleta de colores
    
*/


*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
/*Titulo y subtitulo*/
.Titulo{
	font-size: 30px;
	color: white;
}

.Subtitulo{
	font-size: 20px;
	color: white;
}
/* Parte del cuerpo */
body{
	background: url("imagenes/wallpaper.jpg");
	background-size: cover;
	font-family: Arial;

}

body header{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

body header .logo{
	width: 250px;
	height: 125px;
}
/*.divbusc{ Contenedor de la seccion del buscador
	width: 100%;
}

.divbusc .buscar{ 
	width: 100%;
	text-align: center;
}*/
/*body form input{
	margin-top: 15px;
	margin-bottom: 15px;
	padding:10px;
	width: 400px;
	display: inline-block;
	border:2px solid #015F08;
	border-style: double;


}*/
.principal{
	display: flex;
	justify-content: center;
	width: 100%;

}
.main{
	margin-top:40px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding: 40px 20px 80px 20px;
	width: 80%;
	border-radius: 20px;
	background-color: rgba(67,208,165,0.15);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
    /*background-color: rgba(0,0,0,0.2);*/
}

body .main figure{
	margin-top: 20px;
	width: 200px;
	height: 200px;
	text-align: center;

}
/*Imagen que muestran mis accesos directos*/
body .main figure .acceso{
	display: block;
	width: 180px;
	height: 180px;
	opacity: 0.6;
	border-radius: 10px;
}
/*clase de imagen a mostrar*/
body .main figure .acceso:hover{
	opacity: 1.0;
	border-width: 2.5px;
	border-style: solid;
	border-color: rgba(255,255,255,0.3);
}

figcaption{
	margin-top: 5px;
	display: block;
	background-color: none;
	text-align: center;
	color:#ffffff;
	font-weight: bold;
	top:100px;

}

aside{
	margin-top:40px;
	with:20%;
	max-width: 20%;
	padding: 20px;
}
aside p{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
aside table{
	background-color: white;
	width: 100%;
}
aside table td{
	padding: 2px 4px;
}
aside table th{
    background-color: #0c744d;
    color: white;
    padding: 2px 4px;
}
aside table tr:hover{
    background-color: #0c744d;
    color:white;
    font-weight: bold;
}

span{
	width: 100%;
	display: inline-block;
	color:white;
	text-align: center;
}
body footer{
	/*Posicion*/
	position:fixed;
	bottom: 0%;
	height: 20px;
	width: 100%;
	margin-top: 100px;
	/*Texto*/
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 10px;
	/*Fondo*/
	background: rgba(0,0,0,0.3);

}
body footer span{
	text-align: center;
	position: relative;
	top: 15%;
}

input:hover{
    border:2px solid blue;
}
